<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ bookType }} Books Site</title>
</head>
    {{!-- body will be inserted by handlebars(hbs) when any view (other than this is served)--}}
    {{{ body }}}
</html>